# игнорируем файлы связанные с Go
/bin/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# игнорируем файлы, связанные с IDE
.idea/
.vscode/
*.swp
*.swo
*~

# игнорируем файлы окружения
.env

# игнорируем файлы сборки
/vendor/
/build/

# игнорируем файлы логов
*.log

# игнорируем временные файлы
/tmp/
/temp/

# игнорируем файлы ос
.DS_Store
Thumbs.db

# игнорируем файлы конфигурации бд
*.db

# игнорируем кэш
*.cache

# игнорируем данные базы данных
postgres_data/